<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <!-- Footer-->
    <style>
        .body-wrapper {
            height: auto;
            min-height: calc(100vh - 10rem);
            padding-bottom: 150px;
        }
        .footer-container {
            min-height: 600px;
        }
        footer {
            height: 150px;
            position: relative;
            transform: translateY(210%);
        }
    </style>

    <footer class="py-5 bg-dark mt-auto">
        <div id="body-wrapper">
            <div className="footer-container">
                <p class="m-0 text-center text-white">Copyright &copy; kkongji 2023</p>
                <p class="text-center text-white" style="font-size:10px">(본 사이트는 최대 크기 창 화면에 최적화 되어있습니다.)</p>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</div>
</html>